@media only screen and (max-device-width: 1660px) {
	.navbar-brand img {
		max-width: 170px;
	}
	.book-now-bttn {
		padding: 15px 40px;
		border-radius: 0;
		background: #106a87;
		color: #fff;
		outline: none;
		font-size: 0.7375rem;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 20px;
		width: 100%;
	}
	.online-payment-bttn {
		padding: 15px 5px;
		border-radius: 0;
		background: #004164;
		color: #fff;
		outline: none;
		font-size: 0.7375rem;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 20px;
		width: 100%;
	}
}

@media only screen and (max-device-width: 1700px) {
	.book-now-bttn {
		padding: 15px 5px;
		border-radius: 0;
		background: #106a87;
		color: #fff;
		outline: none;
		font-size: 0.7375rem;
	}
}

@media only screen and (max-device-width: 1478px) {
	.footer-logo-icon img {
		max-width: 190px;
	}
	.bottom-space a {
		margin-bottom: 40px;
	}
	
	.book-review-box {
    padding-right: 30px;
}

.contact-details {
    border-top: 2px solid #106a87;
    border-bottom: 2px solid #106a87;
    padding: 25px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

}

@media only screen and (max-device-width: 1200px) {
	.ticket span {
		font-size: 0.7rem;
	}
	.footer-logo-icon a {
		color: #fff;
		font-size: 16px;
		margin-right: 6px;
	}
	
	.visit-us h3 {
	font-size: 1.0rem;
	}

.contact-us h3 {
    font-size: 1.0rem;
}

.book-review-box {
    padding-right: 0px;
}
	
	
	
}

@media only screen and (max-device-width: 1100px) {
	.main-nav .ticket span {
		font-size: 0.6rem;
	}
	.navbar-toggler {
		padding: .25rem .75rem;
		font-size: 1.25rem;
		line-height: 1;
		background: 0 0;
		border: 1px solid transparent;
		border-radius: .25rem;
		color: #fff;
	}
	.btn-main-md {
		letter-spacing: 1px;
		white-space: normal;
		padding: 15px 18px;
		font-size: 0.8375rem;
	}
	
	.footer-logo-icon img {
    max-width: 140px;
}
.footer-menu li a {
    font-size: 11px;
    color: #878787;
}

.speakers .speaker-item .content h5 a {
    font-size: 20px;
}

.box {
    padding: 5px;
    width: 25%;
}

.book-review-box h1 {
    font-size: 2.0rem;
}

.year-exp-box .year-exp {
    padding: 20px 15px;
}

.year-exp-box .high-skill-people-box {

    padding: 20px 15px;
}

}



@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
.footer-menu p {
    text-align: center;
}

.footer-menu ul {
    text-align: center;
    padding-left: 0;
}

.speakers .speaker-item .content h5 a {
    font-size: 20px;

}

.speaker-item h5 {
    padding: 20px 8px;
}

.box {
    padding: 5px;
    width: 45%;
}

.about .content-block h2 {
    margin-bottom: 35px;
    color: #000;
    font-size: 2.4rem;
    font-weight: bold;
}

}


@media only screen and (min-device-width: 255px) and (max-device-width: 768px) {
	.book-review-box {
		padding-right: 0px;
	}
	.buttns-box {
		width: 100%;
	}
	.main-nav .ticket span {
		font-size: 0.8rem;
	}
	.navbar-brand img {
		max-width: 200px;
	}
	.main-nav .navbar-brand {
		padding: 20px 15px;
	}
	.btn-main-md {
		letter-spacing: 1px;
		white-space: normal;
		padding: 15px 18px;
		font-size: 0.8375rem;
	}
	.banner-two .block h1 {
		font-size: 30px;
	}
	.bottom-space {
		margin-bottom: 5px;
		margin-top: 22px;
	}
	.year-exp-box .year-exp h1 {
		color: #fff;
		font-size: 1.85rem;
	}
	.year-exp-box .year-exp {
		background-color: #d25338;
		margin: 30px 0px;
		text-align: center;
		padding: 20px 10px;
		width: 100%;
	}
	.year-exp-box .high-skill-people-box h1 {
		color: #fff;
		font-size: 1.85rem;
	}
	.year-exp-box .high-skill-people-box {
		background-color: #ea8042;
		margin: 30px 0px;
		text-align: center;
		padding: 20px 10px;
		width: 100%;
	}
	.year-exp-box .year-exp p {
		letter-spacing: 1px;
		font-size: 0.75rem;
		line-height: normal;
	}
	.year-exp-box .high-skill-people-box p {
		letter-spacing: 1px;
		font-size: 0.75rem;
		line-height: normal;
	}
	.navbar-nav {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.footer-logo-icon img {
    max-width: 255px;
	margin-bottom: 15px;
}

.footer-logo-icon a {
    margin-right:0px;
}

.footer-menu p {
    text-align: center;	
}

.footer-menu ul {
    text-align: center;
	padding-left: 0;
}

.footer-menu li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.85rem;
}

.footer-menu li a {
    font-size: 12px;
    color: #878787;
    text-transform: uppercase;
}

.footer-menu li a:hover {
	font-size: 12px;
	color: #106a87;
	text-transform: uppercase;
}


.contact-details {
    border-top: 2px solid #106a87;
    border-bottom: 2px solid #106a87;
    padding: 25px 0px;
    margin-top: 15px;
    margin-bottom: 35px;
	display: block !important;
}

.visit-us h3 {
    color: #fff;
    font-size: 0.98rem;
}

.contact-us h3 {
    color: #fff;
    font-size: 0.98rem;
}

.visit-us {
    margin-bottom: 25px !important;
}
.book-review-box h1 {
    color: #fff;
    font-size: 2.0rem !important;
}

.container-box-margin {
    margin: 0px 30px;
}

.main-nav .navbar-nav .nav-item .nav-link {
    font-size: 0.95rem;
    padding-left: 5px;
    padding-right: 10px;
}

}

@media screen and (max-width: 480px) {
	.slick-codepen,
	.slick-codepen .slick-slide {
		height: auto;
	}
	.about .content-block h2 {
		font-size: 2.1rem;
	}
	.book-review-box h1 {
		color: #fff;
		font-size: 2.2rem;
		margin-bottom: 35px;
	}
	.about .image-block {
		margin-bottom: 0;
		margin-top: 30px;
	}
	.section-title h3 {
		font-size: 2.55rem;
	}
	.list-inline {
		margin: 12px 0px;
	}
	.wrapper-slider {
		width: 100%;
	}
	
	.book-now-bttn {
    padding: 15px 5px;
    font-size: 0.5375rem;
}

.online-payment-bttn {
    padding: 15px 5px;
    font-size: 0.5375rem;
}

.book-review-box h1 {
    color: #fff;
    font-size: 2.0rem !important;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}