@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700");
html {
	font-size: 15px;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #161616
}

.container-box-margin {
	margin: 0px 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-weight: 600;
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	font-size: 1.6875rem;
}

h5 {
	font-size: 1.375rem;
}

h6 {
	font-size: 1.25rem;
}

p,
a,
li,
blockquote,
label {
	font-size: 1rem;
	line-height: 26px;
	color: #707070;
	margin-bottom: 0;
}

a:focus {
	border: 0px;
	outline: 0px;
}

.form-control::-webkit-input-placeholder {
	color: #b3b3b3;
	font-size: 0.9375rem;
}

ul.social-links {
	margin-bottom: 0;
}

ul.social-links li:first-child a {
	padding-left: 0;
}

ul.social-links li a {
	padding: 0 15px;
	display: block;
}

ul.social-links li a i {
	font-size: 20px;
	color: #222222;
}

.shadow,
.speakers.white .speaker-item:hover,
.schedule.two .schedule-contents,
.sponsors .block .image-block:hover,
ul.pagination li a:hover,
ul.pagination li a:focus,
ul.pagination .active a,
.news-hr .news-post-hr:hover,
.testimonial .testimonial-item .comment:hover {
	box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.overlay:before {
	content: '';
	background: url(../images/background/objects.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay:after {
	content: '';
	background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
	opacity: .25;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.text-overlay:after {
	content: 'CONFERENCE';
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 215px;
	width: 100%;
	height: 300px;
	background-position: center center;
	position: absolute;
	top: 40%;
	left: 50%;
	opacity: .05;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media (max-width: 767px) {
	.text-overlay:after {
		font-size: 100px;
	}
}

@media (max-width: 575px) {
	.text-overlay:after {
		font-size: 70px;
	}
}

.overlay-primary:before {
	content: '';
	background: rgba(255, 102, 0, 0.93);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay-dark:before {
	content: '';
	background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
	opacity: .75;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay-white:before {
	content: '';
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(245, 245, 248, 0.8)), to(#f7f7f7));
	background: linear-gradient(0deg, rgba(245, 245, 248, 0.8) 0%, #f7f7f7 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media (max-width: 767px) {}

span.alternate {
	color: #ff6600;
	font-style: italic;
	font-weight: 400;
}

a {
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

a:focus,
a:hover {
	text-decoration: none;
	outline:none;
	border:0px;
}

button:hover {
	cursor: pointer;
}

.bg-gray {
	background: #fafafa;
}

.bg-blue {
	background: #ff6600;
}

.content-main-box {
	padding: 0px 100px;
}

.bg-banner-two {
	background-color: #141414;1032
	
}

@media (max-width: 767px) {
	.bg-banner-two {
		background-position: center center;
	}
}

.bg-about {}

.bg-speaker {
	background: url(../images/spaeker-background.jpg) fixed no-repeat;
	background-size: cover;
	background-position: center center;
}

.section {
	padding: 80px 0;
}

.border-less {}

.section-title {
	margin-top: 25px;
	text-align: left;
	margin-bottom: 40px;
}

.section-title h3 {
	margin-bottom: 20px;
	font-size: 3.55rem;
}

.section-title.white h3,
.section-title.white p {
	color: #fff;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.page-title {
	text-align: center;
}

.video {
	position: relative;
}

.video:before {
	border-radius: 3px;
}

.video img {
	width: 100%;
	border-radius: 8px;
}

.video .video-button {
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.video .video-box a {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.video .video-box a i {
	height: 125px;
	width: 125px;
	font-size: 40px;
	background: #ff6600;
	border-radius: 100%;
	color: #fff;
	line-height: 125px;
	text-align: center;
}

.video .video-box a iframe {
	width: 100%;
	height: 100%;
}

.form-control.main {
	background: transparent;
	border: 1px solid #b3b3b3;
	border-radius: 0;
	font-size: 0.9375rem;
	padding: 15px 20px;
	margin-bottom: 20px;
	color: #b3b3b3;
}

.form-control.main:focus {
	border: 1px solid #ff6600;
}

.form-control.white {
	background: #fff;
	color: #222222;
}

select.form-control:not([size]):not([multiple]) {
	height: 100%;
}

.left {
	overflow: hidden;
}

.left img {
	margin-left: -40px;
}

@media (max-width: 767px) {
	.left img {
		margin-left: 0;
		margin-bottom: 30px;
	}
}

.right {
	overflow: hidden;
}

.right img {
	margin-left: 40px;
}

@media (max-width: 767px) {
	.right img {
		margin-left: 0;
	}
}

.hide-overflow {
	overflow: hidden;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.border-top {
	border-top: 1px solid;
}

.btn {
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	white-space:normal;
}

.btn-main {
	padding: 25px 45px;
	border-radius: 3px;
	background: #ff6600;
	color: #fff;
	outline: none;
}

.btn-main:hover {
	color: #fff;
}

.btn-main:focus {
	color: #fff;
	box-shadow: none;
}

.btn-main-md {
	padding: 15px 40px;
	border-radius: 0;
	background: #106a87;
	color: #fff;
	outline: none;
	font-size: 0.9375rem;
	font-weight: bold;
	letter-spacing: 3.0px;
	white-space: normal;
}

.btn-main-md:hover {
	color: #fff;
	background: #d25338;
}

.btn-main-md:focus {
	color: #fff;
	box-shadow: none;
}

.btn-transparent-md {
	padding: 15px 40px;
	background: transparent;
	outline: none;
	font-size: 0.9375rem;
	color: #222222;
	border: 1px solid #e5e5e5;
	border-radius: 0;
}

.btn-transparent-md:hover {
	background: #ff6600;
	border-color: #ff6600;
	color: #fff;
}

.btn-main-sm {
	padding: 15px 35px;
	border-radius: 3px;
	background: #ff6600;
	color: #fff;
	outline: none;
	font-size: 14px;
}

.btn-main-sm:hover {
	color: #fff;
}

.btn-main-sm:focus {
	color: #fff;
	box-shadow: none;
}

.btn-white-md {
	background: #fff;
	color: #222222;
	padding: 15px 40px;
	border-radius: 0;
}

.btn-white-md:hover {
	background: #ff6600;
	color: #fff;
}

.btn-rounded-icon {
	border-radius: 100px;
	color: #fff;
	border: 1px solid #fff;
	padding: 13px 50px;
}

.main-nav {
	background: #141414;
	margin-top: 12px;
}

@media (max-width: 767px) {
	.main-nav {}
}

.main-nav .navbar-brand {
	padding: 12px;
	background-color: #141414;
	margin-right: 0;
}

@media (max-width: 1200px) {
	.main-nav .navbar-brand {
		padding: 20px 30px;
	}
}

@media (max-width: 767px) {
	.main-nav .navbar-brand {
		border-right: none;
	}
}

.main-nav .navbar-nav .nav-item {
	position: relative;
	font-family: "Roboto", sans-serif;
}

.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    color: #222222;
    padding-left: 8px;
    padding-right: 30px;
    font-size: 1.05rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.main-nav .navbar-nav .nav-item .nav-link:hover {
	color: #106a87;
}







@media (max-width: 1498px) {
	.main-nav .navbar-nav .nav-item .nav-link {
		font-size: 0.75rem;
		padding-left: 5px;
		padding-right: 10px;
	}
}

.main-nav .navbar-nav .nav-item .nav-link span {
	color: #222222;
	margin-left: 20px;
}

@media (max-width: 1024px) {
	.main-nav .navbar-nav .nav-item .nav-link span {
		margin-left: 10px;
	}
}

#navbarNav {
	background-color: #a09592;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
	color: #ff6600;
}

.main-nav .dropdown-slide {
	position: static;
}

.main-nav .dropdown-slide .open>a,
.main-nav .dropdown-slide .open>a:focus,
.main-nav .dropdown-slide .open>a:hover {
	background: transparent;
}

.main-nav .dropdown-slide.full-width .dropdown-menu {
	left: 0 !important;
	right: 0 !important;
}

.main-nav .dropdown-slide:hover .dropdown-menu {
	border-top: 3px solid #ff6600;
	display: none;
	opacity: 1;
	display: block;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	opacity: 1;
	visibility: visible;
	color: #777;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.main-nav .dropdown-slide .dropdown-menu {
	min-width: 220px;
	margin-top: 0;
	border-radius: 0;
	opacity: 1;
	visibility: visible;
	position: absolute;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	-webkit-transition: .3s all;
	transition: .3s all;
	position: absolute;
	display: block;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
	transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
	transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
	transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item {
	font-size: 15px;
	padding: 10px 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:not(:last-child) {
	border-bottom: 1px solid #e5e5e5;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:hover {
	background: #fff;
	color: #ff6600;
}

@media (max-width: 991px) {
	.main-nav .dropdown-slide .dropdown-menu {
		-webkit-transform: none;
		transform: none;
		left: auto;
		position: relative;
		text-align: center;
		opacity: 1;
		visibility: visible;
	}
}

.main-nav .ticket {
	background: #d25338;
	display: block;
	padding: 32px 32px;
}

@media (max-width: 1200px) {
	.main-nav .ticket {
		padding: 23px 14px;
	}
}

@media (max-width: 991px) {
	.main-nav .ticket {
		text-align: center;
	}
}

.main-nav .ticket img {
	margin-right: 25px;
}

@media (max-width: 1200px) {
	.main-nav .ticket img {
		display: none;
	}
}

.main-nav .ticket span {
	color: #fff;
	font-size: 0.96rem;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

@media (max-width: 1200px) {
	.main-nav .ticket span {
		padding-left: 0;
		font-size: 1rem;
		border-left: none;
	}
}

.navbar-toggler:focus,
.navbar-toggler:hover {
	outline: none;
}

.page-title {
	position: relative;
	padding: 165px 0 65px;
}

.page-title h3,
.page-title li,
.page-title a {
	color: #fff;
}

.page-title .title h3 {
	font-weight: 500;
	text-transform: uppercase;
}

.page-title .breadcrumb {
	background: transparent;
}

.page-title .breadcrumb .breadcrumb-item {
	float: none;
	display: inline-block;
	text-transform: uppercase;
}

.page-title .breadcrumb .breadcrumb-item.active {
	color: #fff;
}

.page-title .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "\f105";
	font-family: FontAwesome;
	color: #fff;
}

.footer-main {
	background: #141414;
	padding: 90px 0;
}

@media (max-width: 767px) {
	.footer-main {
		padding: 50px 0;
	}
}

.footer-main .block img {
	margin-bottom: 60px;
}

.footer-main .block ul.social-links-footer {
	margin-bottom: 0;
}

.footer-main .block ul.social-links-footer .list-inline-item:not(:last-child) {
	margin-right: 20px;
}

@media (max-width: 575px) {
	.footer-main .block ul.social-links-footer .list-inline-item:not(:last-child) {
		margin-right: 5px;
	}
}

.footer-main .block ul.social-links-footer li a {
	display: block;
	height: 50px;
	width: 50px;
	text-align: center;
	background: #fff;
}

.footer-main .block ul.social-links-footer li a i {
	line-height: 50px;
}

.footer-main .block ul.social-links-footer li a:hover {
	background: #ff6600;
}

.footer-main .block ul.social-links-footer li a:hover i {
	color: #fff;
}

.subfooter {
	background: #0d0d0d;
	padding: 18px 0;
}

.subfooter .copyright-text p {
	font-family: "Montserrat", sans-serif;
}

.subfooter .copyright-text p a {
	color: #ff6600;
}

@media (max-width: 767px) {
	.subfooter .copyright-text {
		text-align: center;
	}
}

.subfooter .to-top {
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
	background: #ff6600;
	float: right;
}

.subfooter .to-top i {
	font-size: 1.5rem;
	color: #fff;
	line-height: 45px;
}

@media (max-width: 767px) {
	.subfooter .to-top {
		float: none;
		margin: auto;
		margin-top: 30px;
	}
}

.cta-ticket {
	position: relative;
}

.cta-ticket .content-block {
	padding: 100px 0;
}

.cta-ticket .content-block h2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 15px;
}

.cta-ticket .content-block p {
	color: #e6e6e6;
	margin-bottom: 45px;
}

.cta-ticket .image-block {
	position: absolute;
	right: 5%;
	bottom: 0;
}

@media (max-width: 767px) {
	.cta-ticket .image-block {
		display: none;
	}
}

.cta-subscribe {
	position: relative;
}

.cta-subscribe .content {
	padding: 70px 0;
}

.cta-subscribe .content h3,
.cta-subscribe .content p {
	color: #fff;
}

.cta-subscribe .content h3 {
	font-weight: 500;
}

.cta-subscribe .content p {
	font-size: 0.9375rem;
}

.cta-subscribe .subscribe-button button {
	cursor: pointer;
}

@media (max-width: 767px) {
	.cta-subscribe .subscribe-button {
		margin-bottom: 30px;
	}
}

.banner {
	padding: 250px 0 150px;
	position: relative;
}

@media (max-width: 1024px) {
	.banner {
		padding: 100px 0;
	}
}

.banner .block {
	position: relative;
	z-index: 10;
}

.banner .block .timer .syotimer-cell {
	margin-right: 25px;
	margin-bottom: 33px;
	display: inline-block;
}

@media (max-width: 575px) {
	.banner .block .timer .syotimer-cell {
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

.banner .block .timer .syotimer-cell .syotimer-cell__value {
	min-width: 80px;
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
	line-height: 77px;
	text-align: center;
	position: relative;
	font-weight: bold;
	color: #fff;
	border: 2px solid #7c7491;
	margin-bottom: 8px;
	border-radius: 100%;
	box-shadow: 3.5px 6.062px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
	.banner .block .timer .syotimer-cell .syotimer-cell__value {
		font-size: 30px;
	}
}

@media (max-width: 400px) {
	.banner .block .timer .syotimer-cell .syotimer-cell__value {
		min-width: 65px;
		line-height: 61px;
		font-size: 25px;
	}
}

.banner .block .timer .syotimer-cell .syotimer-cell__unit {
	text-align: center;
	font-size: 1rem;
	text-transform: lowercase;
	font-weight: normal;
	color: #fff;
	font-family: "Montserrat", sans-serif;
}

.banner .block h1 {
	text-transform: uppercase;
	font-size: 5.5rem;
	color: #ff6600;
	font-weight: 500;
	margin-bottom: 5px;
	text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
	.banner .block h1 {
		font-size: 4rem;
	}
}

@media (max-width: 400px) {
	.banner .block h1 {
		font-size: 3rem;
	}
}

.banner .block h2 {
	text-transform: uppercase;
	font-size: 4.625rem;
	color: #fff;
	font-weight: 400;
	text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
	font-style: italic;
}

@media (max-width: 767px) {
	.banner .block h2 {
		font-size: 3.2rem;
	}
}

@media (max-width: 400px) {
	.banner .block h2 {
		font-size: 2.3rem;
	}
}

.banner .block h6 {
	color: #fff;
	font-weight: 400;
	margin-bottom: 50px;
}

.banner-two {
	padding: 100px 0 90px;
	position: relative;
	overflow: visible;
}

.banner-two .block h1 {
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	line-height: 1.2;
}

@media (max-width: 575px) {
	.banner-two .block h1 {
		font-size: 40px;
	}
}

.banner-two .block h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 74px;
	margin-bottom: 10px;
}

@media (max-width: 575px) {
	.banner-two .block h2 {
		font-size: 35px;
	}
}

.banner-two .block h3 {
	font-size: 74px;
}

@media (max-width: 575px) {
	.banner-two .block h3 {
		font-size: 35px;
	}
}

.banner-two .block h6 {
	margin-top: 25px;
	font-weight: 400;
	margin-bottom: 30px;
	color: #fff;
	margin-bottom: 35px;
}

@media (max-width: 575px) {
	.banner-two .block h6 {
		margin-top: 30px;
	}
}

.about .image-block {}

.year-exp-box {}

.year-exp-box .year-exp {
	background-color: #d25338;
	margin: 30px 0px;
	text-align: center;
	padding: 20px 50px;
}

.year-exp-box .year-exp h1 {
	color: #fff;
	font-size: 3.6rem;
}

.year-exp-box .year-exp p {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
}

.year-exp-box .high-skill-people-box {
	background-color: #ea8042;
	margin: 30px 0px;
	text-align: center;
	padding: 20px 50px;
}

.year-exp-box .high-skill-people-box h1 {
	color: #fff;
	font-size: 3.6rem;
}

.year-exp-box .high-skill-people-box p {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
}

.list-inline {
	margin: 20px 0px;
}

.about .image-block img {
	border-radius: 100%;
}

@media (max-width: 767px) {
	.about .image-block {
		margin-bottom: 30px;
		text-align: center;
	}
}

.about .image-block.two {}

.about .image-block.two img {
	border-radius: 0;
}

@media (max-width: 767px) {
	.about .image-block.two img {}
}

.about .content-block {
	margin-left: 0px;
}

@media (max-width: 767px) {
	.about .content-block {
		text-align: center;
	}
	.list-inline {
		margin: 40px 0px;
	}
}

.about .content-block h2 {
	margin-bottom: 35px;
	color: #000;
	font-size: 3.4rem;
	font-weight: bold;
}

.about .content-block h4 {
	margin-bottom: 15px;
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
}

@media (max-width: 767px) {}

.about .content-block .description-one {
	margin-bottom: 20px;
}

.about .content-block .description-one p {
	color: #161616;
	font-size: 1.0625rem;
	margin-bottom: 30px;
}

.about .content-block .description-two {
	margin-bottom: 30px;
}

.about .content-block .description-two p {
	font-size: 0.9375em;
}

@media (max-width: 575px) {
	.about .content-block ul.list-inline .list-inline-item {
		display: block;
	}
}

.about .content-block .list-inline-item:not(:last-child) {
	margin-right: 20px;
}

@media (max-width: 991px) {
	.about .content-block .list-inline-item:not(:last-child) {
		margin-bottom: 10px;
	}
}

@media (max-width: 575px) {
	.about .content-block .list-inline-item:not(:last-child) {
		margin-right: 0;
	}
}

.speakers {
	position: relative;
}

.speakers.white .speaker-item {
	background: #fff;
	border: 1px solid #e5e5e5;
}

.speakers .speaker-item {
	background: #eae9ec;
	margin-bottom: 30px;
}

.speakers .speaker-item .image {
	position: relative;
	overflow: hidden;
}

.speaker-item h5 {
	padding: 20px 30px;
	color: #fff;
}

.orange-bg-color {
	background-color: #d25338;
}

.light-orange-bg-color {
	background-color: #ea8042;
}

.blue-bg-color {
	background-color: #106a87;
}

.dark-blue-bg-color {
	background-color: #004164;
}

.light-blue-bg-color {
	background-color: #0e2445;
}

.box {
	padding: 15px;
	width: 20%;
}

.margin-box {
	padding: 80px 0px;
}

.find-out-more-buttn {
	padding: 15px 40px;
	border-radius: 0;
	background: #0d0d0d;
	color: #fff;
	outline: none;
	font-size: 0.9375rem;
	font-weight: bold;
	letter-spacing: 4px;
}

.find-out-more-buttn:hover{
	color: #d25338;
}

@media (max-width: 800px) {
	.box {
		padding: 15px;
		width: 100% !important;
	}
	.container-box-margin {
		margin: 0;
	}
}

@media (max-width: 575px) {
	.speakers .speaker-item .image img {
		width: 100% !important;
	}
}

.speakers .speaker-item .image .primary-overlay {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff6600;
	opacity: .85;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.speakers .speaker-item .image .socials {
	position: absolute;
	top: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	-webkit-transition: .4s ease;
	transition: .4s ease;
}

.speakers .speaker-item .image .socials ul {
	width: 50%;
}

@media (max-width: 1200px) {
	.speakers .speaker-item .image .socials ul {
		width: 100%;
		text-align: center;
		padding: 0 20px;
	}
}

.speakers .speaker-item .image .socials ul li.list-inline-item:not(:last-child) {
	margin-right: 7px;
	margin-bottom: 10px;
}

@media (max-width: 1200px) {
	.speakers .speaker-item .image .socials ul li.list-inline-item:not(:last-child) {
		margin-right: 5px;
		margin-left: 5px;
	}
}

@media (max-width: 1200px) {
	.speakers .speaker-item .image .socials ul li.list-inline-item:last-child {
		margin-right: 5px;
		margin-left: 5px;
	}
}

.speakers .speaker-item .image .socials ul li a {
	display: block;
	height: 50px;
	width: 50px;
	text-align: center;
	border: 1px solid #fff;
}

.speakers .speaker-item .image .socials ul li a i {
	font-size: .9375rem;
	color: #fff;
	line-height: 50px;
}

.speakers .speaker-item .image .socials ul li a:hover {
	background: #fff;
}

.speakers .speaker-item .image .socials ul li a:hover i {
	color: #222222;
}

.speakers .speaker-item .image:hover .primary-overlay {
	top: 0;
}

.speakers .speaker-item .image:hover .socials {
	top: 0;
}

.speakers .speaker-item .content h5 a {
	font-size: 24px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 0;
	font-weight: 600;
	display: block;
}

.speakers .speaker-item .content h5 a:hover {
	color: #fff;
}

.speakers .speaker-item .content p {
	font-size: 0.875rem;
	margin-bottom: 5px;
}

.ticket-feature {
	overflow: hidden;
}

.ticket-feature .block {
	position: relative;
	padding-top: 150px;
	padding-bottom: 110px;
}

.ticket-feature .block .section-title,
.ticket-feature .block a {
	position: relative;
}

.ticket-feature .block .section-title h3 {
	font-weight: 500;
}

.ticket-feature .block .timer {
	position: relative;
	margin-top: 60px;
	margin-bottom: 35px;
}

.ticket-feature .block .timer .syotimer-cell {
	margin-right: 25px;
	margin-bottom: 33px;
	display: inline-block;
}

@media (max-width: 575px) {
	.ticket-feature .block .timer .syotimer-cell {
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

.ticket-feature .block .timer .syotimer-cell .syotimer-cell__value {
	min-width: 80px;
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	position: relative;
	font-weight: bold;
	color: #fff;
	border: 2px solid rgba(255, 255, 255, 0.35);
	background-clip: content-box;
	background: rgba(255, 255, 255, 0.26);
	margin-bottom: 8px;
	border-radius: 100%;
}

@media (max-width: 575px) {
	.ticket-feature .block .timer .syotimer-cell .syotimer-cell__value {
		font-size: 30px;
		height: 80px;
		width: 80px;
		line-height: 80px;
	}
}

.ticket-feature .block .timer .syotimer-cell .syotimer-cell__unit {
	text-align: center;
	font-size: 1rem;
	text-transform: lowercase;
	font-weight: normal;
	color: #fff;
	font-family: "Montserrat", sans-serif;
}

.ticket-feature .block-2 {
	position: relative;
	padding: 150px 10%;
	height: 100%;
	background: #ff6600;
}

@media (max-width: 575px) {
	.ticket-feature .block-2 {
		padding: 50px 20px;
	}
}

.ticket-feature .block-2 [class*=col-]:first-child {
	border-right: 1px solid #fc9552;
	border-bottom: 1px solid #fc9552;
}

.ticket-feature .block-2 [class*=col-]:nth-child(2) {
	border-bottom: 1px solid #fc9552;
}

.ticket-feature .block-2 [class*=col-]:nth-child(3) {
	border-right: 1px solid #fc9552;
}

.ticket-feature .block-2 .service-item {
	padding: 30px;
	text-align: center;
}

.ticket-feature .block-2 .service-item i,
.ticket-feature .block-2 .service-item h5 {
	color: #fff;
}

.ticket-feature .block-2 .service-item i {
	font-size: 3.25rem;
	margin-bottom: 20px;
}

.ticket-feature .block-2 .service-item h5 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

@media (max-width: 575px) {
	.ticket-feature .block-2 .service-item h5 {
		font-size: 1rem;
	}
}

.ticket-feature .block-2:after {
	content: '';
	position: absolute;
	right: 100%;
	bottom: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 1000px 300px;
	border-color: transparent transparent #ff6600 transparent;
}

@media (max-width: 1200px) {
	.ticket-feature .block-2:after {
		content: none;
	}
}

.banner-full .image {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
}

.banner-full .image img {
	height: 625px;
}

@media (max-width: 767px) {
	.banner-full .image {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.banner-full .block {
		text-align: center;
	}
}

.banner-full .block .logo {
	margin-bottom: 40px;
}

.banner-full .block h1 {
	margin-bottom: 40px;
}

.banner-full .block p {
	font-size: 20px;
	margin-bottom: 50px;
}

.banner-full .block .app {
	margin-bottom: 20px;
}


/* Controls
---------------------------------------------------------------------- */

.controls {
	text-align: center;
	margin-bottom: 40px;
}

.controls .control {
	background: transparent;
	border: none;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	margin-right: 25px;
}

@media (max-width: 767px) {
	.controls .control {
		margin-right: 10px;
	}
}

.controls .control:focus {
	outline: 0;
}

.controls .control:hover {
	color: #ff6600;
}

.mixitup-control-active {
	color: #ff6600;
}


/* Container
---------------------------------------------------------------------- */

.gallery-wrapper {
	/* Target Elements
    ---------------------------------------------------------------------- */
	/* Grid Breakpoints
    ---------------------------------------------------------------------- */
	/* 2 Columns */
	/* 3 Columns */
}

.gallery-wrapper .gallery-item {
	padding: 15px;
}

.gallery-wrapper .gallery-item .image-block {
	padding: 6px;
	border: 1px solid #e5e5e5;
}

.gallery-wrapper .gallery-item .image-block .image {
	position: relative;
	overflow: hidden;
}

.gallery-wrapper .gallery-item .image-block .image img {
	width: 100%;
}

.gallery-wrapper .gallery-item .image-block .image .primary-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff6600;
	opacity: 0;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.gallery-wrapper .gallery-item .image-block .image .primary-overlay a {
	display: block;
	height: 55px;
	width: 55px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	outline: none;
}

.gallery-wrapper .gallery-item .image-block .image .primary-overlay a i {
	color: #fff;
	line-height: 55px;
	font-size: 1.25rem;
}

.gallery-wrapper .gallery-item .image-block .image:hover .primary-overlay {
	opacity: .85;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.gallery-wrapper .mix,
.gallery-wrapper .gap {
	display: inline-block;
	vertical-align: top;
}

.gallery-wrapper .mix {
	background: #fff;
	position: relative;
}

.gallery-wrapper .mix {
	width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

@media screen and (min-width: 768px) {
	.gallery-wrapper .mix {
		width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
	}
}

.gallery-wrapper.less-gutter .gallery-item {
	padding: 5px;
}

.gallery-wrapper.less-gutter .gallery-item .image-block {
	padding: 0;
	border: none;
}

@media screen and (min-width: 1200px) {
	.gallery-wrapper.less-gutter .mix,
	.gallery-wrapper.less-gutter .gap {
		width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
	}
}

.gallery-full {
	overflow: hidden;
}

.gallery-full .image {
	position: relative;
	overflow: hidden;
	margin-bottom: -1px;
}

.gallery-full .image img {
	width: 100%;
}

.gallery-full .image .primary-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff6600;
	opacity: 0;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}

.gallery-full .image .primary-overlay a {
	display: block;
	height: 55px;
	width: 55px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	outline: none;
}

.gallery-full .image .primary-overlay a i {
	color: #fff;
	line-height: 55px;
	font-size: 1.25rem;
}

.gallery-full .image:hover .primary-overlay {
	opacity: .85;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.news .blog-post {
	-webkit-transition: .2s ease;
	transition: .2s ease;
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.news .blog-post .post-thumb img {
		width: 100%;
	}
}

.news .blog-post .post-content {
	position: relative;
	padding: 30px 30px 25px 30px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e5e5e5;
}

.news .blog-post .post-content .date {
	position: absolute;
	top: -32px;
	left: 30px;
	width: 65px;
	height: 65px;
	text-align: center;
	background: #ff6600;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.news .blog-post .post-content .date h4 {
	color: #fff;
}

.news .blog-post .post-content .date h4 span {
	display: block;
	font-size: 1rem;
	font-weight: 400;
}

.news .blog-post .post-content .post-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 15px;
}

.news .blog-post .post-content .post-title h2 {
	margin-top: 10px;
}

.news .blog-post .post-content .post-title h2 a {
	font-weight: 400;
	color: #222222;
}

.news .blog-post .post-content .post-title h2 a:hover {
	color: #ff6600;
}

.news .blog-post .post-content .post-meta ul {
	margin-bottom: 0;
}

.news .blog-post .post-content .post-meta ul li i {
	margin-right: 7px;
}

.news .blog-post .post-content .post-meta ul li a {
	display: inline-block;
	padding-right: 25px;
	font-size: 0.875rem;
}

.news .blog-post:hover {
	box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
}

.news .blog-post.single {
	margin-bottom: 100px;
}

.news .blog-post.single .post-title {
	padding-top: 35px;
	padding-bottom: 0;
	border: none;
	margin-bottom: 10px;
}

.news .blog-post.single .post-title h3 {
	font-weight: 400;
}

.news .blog-post.single .post-meta {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.news .blog-post.single .post-details p {
	padding: 13px 0;
	font-size: 15px;
}

.news .blog-post.single .post-details .quotes {
	background: #f5f5f8;
	padding: 30px;
	border-left: 3px solid #ff6600;
	margin: 15px 0;
}

.news .blog-post.single .post-details .quotes blockquote {
	font-size: 15px;
	font-style: italic;
}

.news .blog-post.single .post-details .share-block {
	display: -webkit-box;
	display: flex;
	padding-top: 20px;
	padding-bottom: 25px;
}

@media (max-width: 991px) {
	.news .blog-post.single .post-details .share-block {
		flex-wrap: wrap;
	}
}

.news .blog-post.single .post-details .share-block p {
	padding: 0;
}

.news .blog-post.single .post-details .share-block .tag {
	flex-basis: 50%;
	align-self: center;
}

@media (max-width: 991px) {
	.news .blog-post.single .post-details .share-block .tag {
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 30px;
		-webkit-box-flex: 1;
		flex-grow: 1;
	}
}

.news .blog-post.single .post-details .share-block .tag p,
.news .blog-post.single .post-details .share-block .tag ul {
	display: inline;
	font-family: "Montserrat", sans-serif;
}

.news .blog-post.single .post-details .share-block .tag p {
	color: #222222;
}

.news .blog-post.single .post-details .share-block .tag ul li a {
	color: #848484;
	font-size: 15px;
}

.news .blog-post.single .post-details .share-block .tag ul li a:hover {
	color: #ff6600;
}

.news .blog-post.single .post-details .share-block .share {
	flex-basis: 50%;
	text-align: right;
}

@media (max-width: 991px) {
	.news .blog-post.single .post-details .share-block .share {
		flex-basis: 100%;
		-webkit-box-flex: 1;
		flex-grow: 1;
		text-align: center;
	}
}

.news .blog-post.single .post-details .share-block .share p,
.news .blog-post.single .post-details .share-block .share ul {
	display: inline;
	font-family: "Montserrat", sans-serif;
}

.news .blog-post.single .post-details .share-block .share p {
	margin-right: 18px;
}

@media (max-width: 400px) {
	.news .blog-post.single .post-details .share-block .share p {
		display: block;
		margin-bottom: 10px;
	}
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share {
	margin-bottom: 0;
}

@media (max-width: 400px) {
	.news .blog-post.single .post-details .share-block .share ul.social-links-share {
		text-align: left;
	}
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share .list-inline-item:not(:last-child) {
	margin-right: 7px;
}

@media (max-width: 400px) {
	.news .blog-post.single .post-details .share-block .share ul.social-links-share .list-inline-item:not(:last-child) {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share li a {
	display: block;
	height: 38px;
	width: 38px;
	text-align: center;
	background: #fff;
	border: 1px solid #e5e5e5;
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share li a i {
	line-height: 38px;
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share li a:hover {
	background: #ff6600;
	border-color: #ff6600;
}

.news .blog-post.single .post-details .share-block .share ul.social-links-share li a:hover i {
	color: #fff;
}

.news .blog-post.single:hover {
	box-shadow: none;
}

.news .comments {
	padding-bottom: 80px;
}

.news .comments h5 {
	font-weight: 400;
	margin-bottom: 10px;
}

.news .comments .comment {
	padding-top: 14px;
}

.news .comments .comment img {
	margin-right: 30px;
}

.news .comments .comment .media-body h6 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.news .comments .comment .media-body p,
.news .comments .comment .media-body ul {
	font-size: 15px;
}

.news .comments .comment .media-body p {
	margin-bottom: 14px;
}

.news .comments .comment .media-body ul {
	margin-bottom: 10px;
}

.news .comments .comment .media-body ul li span {
	margin-right: 7px;
}

.news .comments .comment .media-body ul li a {
	color: #ff6600;
}

.news .comment-form h5 {
	font-weight: 400;
	margin-bottom: 30px;
}

.news .comment-form .form-control,
.news .comment-form button {
	margin-bottom: 30px;
}

ul.pagination {
	margin-top: 30px;
	margin-bottom: 30px;
}

ul.pagination li {
	margin-right: 10px;
}

ul.pagination li a {
	font-size: 16px;
	padding: 0;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-color: transparent;
	color: #848484;
	border: 1px solid #e5e5e5;
	border-radius: 0 !important;
}

ul.pagination li a:hover,
ul.pagination li a:focus {
	background-color: #ff6600 !important;
	color: #fff !important;
	border-color: #ff6600 !important;
}

ul.pagination .active a {
	background-color: #ff6600 !important;
	color: #fff !important;
	border-color: #ff6600 !important;
}

.sidebar {
	padding: 0 20px;
}

.widget {
	margin-bottom: 45px;
}

.widget .widget-header {
	font-weight: 400;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.widget.search {
		margin-top: 30px;
	}
}

.widget.search .input-group .form-control {
	border-right: none;
}

.widget.search .input-group .input-group-addon {
	background: #ff6600;
	color: #fff;
	border: none;
	border-radius: 0;
}

.widget.search .input-group .input-group-addon i {
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.widget.category ul.category-list li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
}

.widget.category ul.category-list li a {
	font-size: 15px;
	letter-spacing: 0;
	display: block;
}

.widget.category ul.category-list li a:hover {
	color: #ff6600;
}

.widget.category ul.category-list li:last-child {
	margin-bottom: 5px;
}

.widget.tags ul li a {
	display: block;
	padding: 10px 25px;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
	font-size: 15px;
}

.widget.tags ul li a:hover {
	background: #ff6600;
	color: #fff;
	border-color: #ff6600;
}

.widget.latest-post .media {
	padding: 15px 0;
}

.widget.latest-post .media:not(:last-child) {
	border-bottom: 1px solid #e5e5e5;
}

.widget.latest-post .media img {
	margin-right: 15px;
}

.widget.latest-post .media .media-body h6 a {
	font-size: 15px;
	color: #222222;
	line-height: 1;
	font-weight: 400;
}

.widget.latest-post .media .media-body h6 a:hover {
	color: #ff6600;
}

.widget.latest-post .media .media-body p span {
	margin-right: 10px;
}

.news-hr .news-post-hr {
	display: -webkit-box;
	display: flex;
}

@media (max-width: 1200px) {
	.news-hr .news-post-hr {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

@media (max-width: 991px) {
	.news-hr .news-post-hr {
		margin-bottom: 30px;
	}
}

.news-hr .news-post-hr .post-thumb {
	flex-basis: 50%;
}

@media (max-width: 1200px) {
	.news-hr .news-post-hr .post-thumb {
		flex-basis: 100%;
	}
}

.news-hr .news-post-hr .post-thumb img {
	width: 100%;
}

.news-hr .news-post-hr .post-contents {
	flex-basis: 50%;
	padding: 30px;
	position: relative;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #e5e5e5;
}

@media (max-width: 1200px) {
	.news-hr .news-post-hr .post-contents {
		border-left: 1px solid #e5e5e5;
		flex-basis: 100%;
	}
}

.news-hr .news-post-hr .post-contents .post-title h6 {
	margin-bottom: 36px;
	margin-top: 5px;
}

.news-hr .news-post-hr .post-contents .post-title h6 a {
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	font-size: 20px;
	color: #222222;
}

.news-hr .news-post-hr .post-contents .post-title h6 a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 37px;
	content: "";
	background: #ff6600;
	width: 30px;
	height: 2px;
}

.news-hr .news-post-hr .post-contents .post-exerpts p {
	font-size: 15px;
}

.news-hr .news-post-hr .post-contents .date {
	margin-top: 17px;
	width: 65px;
	height: 65px;
	text-align: center;
	background: #ff6600;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.news-hr .news-post-hr .post-contents .date h4 {
	color: #fff;
	font-weight: 400;
}

.news-hr .news-post-hr .post-contents .date h4 span {
	display: block;
	font-size: 1rem;
	font-weight: 400;
}

.news-hr .news-post-hr .post-contents .more {
	text-align: right;
	margin-top: -25px;
}

.news-hr .news-post-hr .post-contents .more a {
	font-family: "Montserrat", sans-serif;
	color: #222222;
	text-transform: uppercase;
	font-size: 14px;
}

.news-hr .news-post-hr .post-contents:after {
	content: '';
	position: absolute;
	right: 100%;
	bottom: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
}

@media (max-width: 1200px) {
	.news-hr .news-post-hr .post-contents:after {
		content: none;
	}
}

.about {
	padding: 135px 0px 80px 0;
	background-color: #a09592;
}

.top-colored-line {
	background-image: url("../images/top-colored-line.jpg");
	height: 12px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #999;
}





.book-review-box
{
	padding-right:95px;
}

.book-review-box h1 {
	color: #fff;
	font-size: 2.7rem;
	margin-bottom: 35px;
}

.list-inline-item:not(:last-child) {
    margin-right: 15px;
}


/* footer
---------------------------------------------------------------------- */

.buttns-box
{
	width:50%;
}

.book-now-bttn {
    padding: 15px 40px;
    border-radius: 0;
    background: #106a87;
    color: #fff;
    outline: none;
    font-size: 0.9375rem;
    font-weight: bold;
    letter-spacing: 4px;
	margin-bottom:20px;
	width: 100%;
}


.book-now-bttn:hover {
color: #fff;
background: #d25338;
}


.online-payment-bttn {
    padding: 15px 40px;
    border-radius: 0;
    background: #004164;
    color: #fff;
    outline: none;
    font-size: 0.9375rem;
    font-weight: bold;
    letter-spacing: 2.4px;
	margin-bottom:20px;
	width: 100%;
}


.online-payment-bttn:hover {
color: #fff;
background: #d25338;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact-details
{
border-top: 2px solid #106a87;
border-bottom:2px solid #106a87;
padding: 25px 0px;
margin-top: 60px;
margin-bottom: 60px;
}

.visit-us 
{
	width:50%;
}

.visit-us h3
{
	color:#fff;
	font-size: 1.75rem;
}

.visit-us p
{
	color:#707070;
		font-size: 1rem;
}


.contact-us
{
	width:50%;
}

.contact-us h3
{
	color:#fff;
	font-size: 1.75rem;
}


.contact-us p
{
	color:#707070;
	font-size: 1rem;
}


.contact-us a
{
	color:#707070;
	outline:none;
	border:0px;
}

.contact-us a:hover
{
	color:#d25338;
	text-decoration:underline;
}


.navbar-brand img {
    max-width: 481px;
}



.slick-initialized .slick-slide {
  display: block;
  filter: alpha(opacity=40);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.slick-initialized .slick-center {
  display: block;
  filter: alpha(opacity=100);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.wrapper-slider {
	width: 100%;
	margin: 0px auto;
	margin-bottom: -189px;
}

.slick-codepen {
  width: 100%;
}
.slick-codepen .slick-slide {
  height: auto !important;
}
.slick-codepen .slick-slide img {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
}
.slick-codepen .slick-prev {
  left: 0;
}
.slick-codepen .slick-next {
  right: 0;
}
.slick-codepen .slick-prev, .slick-codepen .slick-next {
  background-color: rgba(0, 0, 0, 0);
  top: 10px;
  width: 20%;
  height: 100%;
  transition: all 0.3s ease-out 0s;
  display: none !important;
}
.slick-codepen .slick-prev:hover, .slick-codepen .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.slick-codepen .slick-prev:hover:before, .slick-codepen .slick-next:hover:before {
  color: rgba(255, 255, 255, 0.65);
}
.slick-codepen .slick-prev:before, .slick-codepen .slick-next:before {
  font-size: 38px;
  color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
}
.slick-codepen .slick-dots {
  width: 100%;
  bottom: -5px;
  padding: 15px 0;
}
.slick-codepen .slick-dots li.slick-active button:before {
  color: #d25338 !important;
  margin-top: 1px;
  font-size: 7px;
}

.slick-dots li button::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size:30px !important;
	line-height: 20px;
	text-align: center;
	color: #fff !important;
	opacity: 1 !important;

}

.slick-list {
    margin: 0  !important;
    padding: 0 !important;
}

.bottom-space {
    margin-bottom:5px;
    margin-top: 85px;
}




.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}


.footer-menu ul {
    margin-bottom:0px;
}


.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
	text-transform:uppercase;
}

.footer-menu li a:hover {
    color: #106a87;
}



.footer-logo-icon a {
    color: #fff;
    font-size: 16px;
   margin-right: 40px;
}

/* the slides */


